<div class="main-content">
    <div class="container">
        <center>
            <div class="wrapper">
                <form class="form-signin">
                    <h1 class="contact-title">Entre em contato conosco!</h1><br>
                    <input class="form-control" placeholder="Nome" required="" autofocus="" type="text" ng-model="message.name"><br>
                    <input class="form-control" placeholder="Email" required="" autofocus="" type="email" ng-model="message.email"><br>
                    <textarea placeholder="Mensagem" required="" autofocus="" class="form-control textarea" ng-model="message.message"></textarea><br>
                    <input class="btn-submit" value="Enviar" type="submit" ng-click="save(message)">
                </form>
            </div>
        </center>
    </div>
</div>
