<center>
    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading">Fazer login</h2>
            <input type="text" class="form-control" name="username" ng-model="data.username" placeholder="Nome de Usuário" required="" autofocus="" />
            <br/>
            <input type="password" class="form-control" name="password" ng-model="data.password" placeholder="Password" required="" />
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> salvar senha
            </label>
            <button class="btn btn-lg btn-primary btn-block" ng-click="login(data)" type="submit">Login</button>
            <br>
            <center><a ui-sref="site.advertiser.register">Cadastre-se! E anuncie sua oferta em nosso portal.</a></center>
        </form>
    </div>
</center>