<div class="cont-departamento">
	<div class="alinha">
		<div class="alinha" style="background: white; width: 100%; float: left; padding: 20px;">
			<center>
						<form class="form-horizontal" style = "margin: 0 auto; float: none; width: 55%; font-family: 'Geosanslight';">
							<input type="text" ng-model="contact.fullname" placeholder="Nome de Usuário" class="form-control input-md"><br><br>
							<input type="text" ng-model="contact.email" placeholder="Digite E-mail" class="form-control input-md"><br><br> 
							<input type="text" ng-model="contact.password" placeholder="Digite uma senha" class="form-control input-md"><br><br>
							<button ng-click="addContact()">Adicionar</button>
						</form>
				</center>
		</div>
	</div>
</div>
