<div class="max-container">
    <div class="container">
        <div class="col-md-4">
            O ciadasofertas.com é um portal de ofertas. Atua oferecendo descontos e vantagens para o consumidor em lojas fisicas por meio de cupons.
        </div>
        <div class="col-md-6">
            <ul>
                <li>
                    <a href="#">Quem somos</a>
                </li>
                <li>
                    <a href="#">Políticas</a>
                </li>
                <li>
                    <a href="#">Empresas</a>
                </li>
                <li>
                    <a href="#">Cidades</a>
                </li>
                <li>
                    <a href="#">Contato</a>
                </li>
            </ul>
        </div>
        <div>Cia das Ofertas © Copyright 2015</div>
    </div>

</div>