<center>
	<div class="alinha" style="background: white;
  position:absolute;
  top:40%;
  left:30%;
	margin-top:-40px;
	margin-left:-30px;
  width:500px;
  height:200px;
  border: 1px solid red;">
		<br>
		<p>Você acabou de adquirir seu código de desconto Seu código é : 172189 Cadastre seu E-mail para receber mais informações sobre essa empresa o código gerado pelo Cia das ofertas e ganhe ótimos descontos.</p>
		<input id="nameCompany" type="text" placeholder="Digite seu Email">
		<br>
		<button ng-click="closeThisDialog()">Cancelar</button>
		<button ng-click="confirm()">Cadastrar</button>
	</div>
</center>
