<div class="container body dashboard">


    <div class="main_container">
        <!-- left navigation -->
        <header ng-include="'views/dashboard/include/left-nav.html'"></header>
        <!-- /leftnavigation -->

        <!-- top navigation -->
        <div ng-include="'views/dashboard/include/top-nav.html'"></div>
        <!-- /top navigation -->


        <!-- page content -->
        <div class="right_col" role="main">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div ui-view></div>
                </div>

            </div>
            <br />
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer class="dashboard-footer" ng-include="'views/dashboard/include/footer.html'"></footer>
        <!-- /footer content -->
    </div>
</div>